.App {
    background: linear-gradient(45deg, #ff8b8b, #ff9e5d, #ffbb93, #ff7b2f);
    border-radius: 10px;
    border: 5px solid #ff1d1d;

    display: flex;
    flex-direction: column;

    padding: 20px;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

p {
    font-weight: 600;
    font-size: large;
    text-align: center;
}
