.App {
    background: linear-gradient(45deg, #ff8b8b, #ff9e5d, #ffbb93, #ff7b2f);
    border-radius: 10px;
    border: 5px solid #ff1d1d;

    display: flex;
    flex-direction: column;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

p {
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.blue {
    color: red;

    font-size: x-large;
}

button {
    background: linear-gradient(45deg, #cacaca, #fff6ee);
    border: 4px solid #cacaca;
    margin: 10px;
    border-radius: 9999px;
    cursor: pointer;

    font-size: large;
    font-weight: 600;
    transition-duration: 0.2s;
}

button:hover {
    background: linear-gradient(45deg, #ffe96a, #ffd000);
    border: 4px solid gold;

    transform: scale(1.2);
}
