.dollar-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px;

    border: 4px solid #cfcfcf;
    border-radius: 10px;
    background: #e0e0e0;

    padding: 20px;
}

.dollar-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
