.numbers-panel {
    background: #ffe96a;
    margin: 20px;

    border: 4px solid #ffd000;
    border-radius: 10px;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.numbers-panel .primary-btn {
    background: linear-gradient(45deg, #ffe96a, #ffd000);
    color: #3d3c00;
    border: 4px solid gold;
    padding: 1rem;
}

.numbers-panel .primary-btn:hover {
    background: linear-gradient(45deg, #ffd000, #ffe96a);
    color: #1a1900;
    border: 4px solid gold;
    padding: 1rem;
}

.numbers-panel .selected {
    background: linear-gradient(45deg, #ff5151, #ff6a97);
    border: 4px solid red;
}
