.result-panel {
    background: #ffd3af;
    margin: 20px;

    border: 4px solid #ffb4b4;
    border-radius: 10px;
}

.result-panel p {
    font-weight: 600;
    font-size: large;
}

.selected-numbers {
    margin: 10px;
    border-bottom: 2px solid black;
}

.selected-dollars {
    margin: 10px;
}
