.header-title {
    background: linear-gradient(45deg, #ff8b8b, #ff9e5d, #ffbb93, #ff7b2f);
    height: fit-content;

    display: flex;
    justify-content: center;
    margin: 20px;

    border-radius: 10px;
    border: 5px solid #ff1d1d;
}

.header-title h1 {
    color: white;
    filter: drop-shadow(4px 4px 10px #ff1d1d);
}
