.header-title {
    height: fit-content;

    display: flex;
    justify-content: center;
    margin: 20px;
}

.header-title h1 {
    color: white;
    filter: drop-shadow(4px 4px 10px #ff1d1d);
    text-decoration: underline;
}
